{{> templates/header}}
<section class="gallery">
  <h2>Our Cake Gallery</h2>
  <div class="cakes-grid">
    {{#each cakes}}
      <div class="cake-card">
        <img src="{{image_url}}" alt="{{name}}" />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <span class="price">${{price}}</span>
        <form style="bottom: 0;" class="add-to-cart-form" data-cake-id="{{id}}">
          <input type="hidden" name="cakeId" value="{{id}}" />
          <button type="submit" class="btn">Add to Cart</button>
          <a href="/gallery/{{id}}" style="margin-top: 2px;" class="btn">View Details</a>
        </form>
      </div>
    {{/each}}
  </div>
</section>
{{> templates/footer}}
